<nav>
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Superman_shield.svg" alt="">
  <ul>
    <li class="l">
    <a routerLinkActive="active1" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
  </li>
    <li class="h">
      <a routerLinkActive="active" routerLink="/login">Login</a>
    </li>
    <li class="b">
      <a routerLinkActive="active1" routerLink="/about">About</a>
    </li>
    <li class="k">
      <a routerLinkActive="active" routerLink="/contactus">Contact Us</a>
    </li>
  </ul>
</nav>
